.ant-content-help {
    width: 100vw;
    background-color: aliceblue;
}
.ant-card{
    width: 32.5vw;
    padding: 1% 2.5%;
    float: left;
}
.ant-card-help{
    font-size: large;
    line-height: 25px;
    background-color:#dddddd;
    width: 30vw;
    height: 40vh;
    padding-left: 18px;
    border-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 2px 16px #aaaaaa;
}
.ant-card-face{
    font-size: large;
    line-height: 25px;
    background-color:#dddddd;
    width: 30vw;
    height: 40vh;
    padding-left: 18px;
    border-color: #ffffff;
    box-shadow: 0 2px 16px #aaaaaa;
}