.logo{
    width: 100px;
}
.welcome{
    font-size: 60px;
    font-weight: 100;
    color: #777;
    margin: 20px 0 0 0;
}
.container{
	position: absolute;
	height:400px;
	width:800px;
    background-color: white;
    margin-left: 50%;
	margin-bottom: 10px;
    top:50px;
    transform:translate(-50%);
}

.move{
	position: absolute;
	bottom:130px;
	left:60px;
}
.boom{
    position: absolute;
    display: none;
    bottom:200px;
	margin: 0;
}
.boom1 {
    position: absolute;
    display: none;
    bottom: 200px;
    transform: rotate(180deg);
}

.player2{
	position: absolute;
	bottom:130px;
	left:404px;
	margin: 0;
	-moz-transform: scaleX(-1);
 	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
 	transform: scaleX(-1);
 	filter:FlipH;
 	background:transparent;
}

.bar{
	position: absolute;
	top:20px;	
	left:150px;
	clip: rect(0 322px 50px 0);
}

.ko{
	position: absolute;
	top:60px;	
	left:200px;
	display: none;
}