.header {
    background-color: #0301fd;
    height : 100%;
    width : 100%;
}

.ant-header {
    height : 64px;
    width : 1280px;
    padding : 0;
}

.ant-sider {
    height : 512px;
    padding : 0;
}

.ant-content-in-sider {
    height : 512px;
    width : 180px;
    padding : 0;
}

.ant-content {
    height : 512px;
    width : 1060px;
    padding : 0;
}

.ant-content-in-content {
    height : 384px;
    width : 1060px;
    padding : 0;
}

.ant-footer-in-content {
    height : 128px;
    width : 1060px;
    padding : 0;
}

.menuBar-left {
    background-color : #fd010e;
    height: 100%;
    width : 100%;
}

.friendList {
    background-color : #62fd01;
    height : 100%;
    width : 100%;
}

.messageScreen {
    background-color : #fd4e9e;
    height : 100%;
    width : 100%;
}

.messageSend {
    background-color : #00fde9;
    height : 100%;
    width : 100%;
}

